mapping/
data/old_data/
data/lidar2018/
data/lidar2008_utm/
data/lidar2018/
data/dtm2008/
data/dsm2008/
data/dtm2018/
data/dsm2018/
data/big_files/
figures/
writing/
scripts/old_code/
output/
data/
.Rproj.user
